/*=============== ACTUALITES ===============*/
.actualites{
    padding-block: 7rem 0;
}
.actualites h2{
        font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: .25rem;
    text-align: center;
}
.actualites .bouton{
    text-align: center;
    padding-top: 50px;
}

.actualites button{
    border: none;
    padding: 20px;
    font-size: 16px;
    border-radius: 10px;
}
.actualites button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    -webkit-animation: btnactu 0.5s ease-in;
    animation: btnactu 0.5s ease-in;
}
@keyframes btnactu {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

.carousel {
    overflow: hidden;
    max-width: 100%;
    margin: auto;
    }

    .track {
    display: flex;
    gap: 20px;
    width: max-content;
    animation: scroll-left 100s linear infinite;
    }

    .track.reverse {
    animation: scroll-right 100s linear infinite;
    }

    .carousel:hover .track {
    animation-play-state: paused;
    }

    /* CARD */
    .card {
    min-width: 280px;
    background: #020617;
    color: #e5e7eb;
    border-radius: 14px;
    padding: 15px;
    /* box-shadow: 0 10px 25px rgba(0,0,0,0.3); */
    }

    .card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
    }

    .card h3 {
    font-size: 1rem;
    line-height: 1.4;
    }

    .card a {
    color: #38bdf8;
    text-decoration: none;
    }

    .card a:hover {
    text-decoration: underline;
    }

    .date {
    font-size: 0.8rem;
    color: #94a3b8;
    margin-top: 6px;
    }

    /* ANIMATIONS */
    @keyframes scroll-left {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
    }

    @keyframes scroll-right {
    from { transform: translateX(-50%); }
    to { transform: translateX(0); }
    }